<!-- views/footer.ejs -->
<footer>
    <div class="footer-container">
        <div class="foot-links">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </div>
    </div>
</footer>