<!-- views/navbar.ejs -->
<div class="navbar-container">
    <div class="logo">
      <!-- Add your logo here -->
      <a href="/">
        <img src="/path/to/your/logo.png" alt="Logo">
      </a>
    </div>
    <div class="nav-links">
      <a href="/user/compose">Write</a>
      <%  if(locals.authorized) { %>
        <a href="/user/account" >My Account</a>
        <a href="/auth/logout" >Logout</a>
      <% } else { %>
        <a href="/auth/login">Sign In</a>
      <% } %>
    </div>
</div>
