<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <div id="container">
        <div id="articlePost">

        </div>
    </div>
  </body>
</html>