<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <div id="container">
      <h1>Recent Posts</h1>
        <div id="recentPosts">
            <% articles.forEach(article => { %>
              <div id="article_box">
                <h2><%= article.title %></h2>
                <h3><%= article.updatedAt.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></h3>
                <p><%= article.meta_summary %></p>
              </div>
            <% }) %>
        </div>
    </div>
  </body>
</html>
