<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>

    <div id="container">
        <h1>Sign Up</h1>
        <form action="/signup/newUser" method="post">
            <section>
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" id="f_name" required autofocus>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" id="l_name" required autofocus>
            </section>
            <section>
                <label for="email">Email</label>
                <input id="email" name="email" type="text" autocomplete="email" required autofocus>
            </section>
            <section>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" autocomplete="username" required autofocus>
            </section>
            <section>
                <label for="current-password">Password</label>
                <input id="current-password" name="password" type="password" autocomplete="current-password" required>
            </section>
            <button type="submit">Sign in</button>
        </form>
        <div id="error"></div>
    </div>

    <script type="text/javascript" src="/javascripts/signup.js"></script>

  </body>
</html>