#title_container {
    display: flex;
    justify-content: space-between;
}

#title_actions {
    white-space: nowrap;
}

#title_actions a {
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s color ease-in;
}

#title_actions a:first-child {
    color: rgb(8, 54, 118);
}

#title_actions a:last-child {
    color: rgb(102, 7, 7);
}

#title_actions a:first-child:hover {
    color: rgb(0, 119, 255);
}

#title_actions a:last-child:hover {
    color: rgb(213, 15, 15);
}
