@import url('navbar.css');
@import url('footer.css');

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#container {
  margin: 0 7.5%;
}

#article_box {
  border: 2px solid black;
  padding: 0 3ch;
}

