@import url('navbar.css');
@import url('footer.css');

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#container {
  margin: 0 7.5%;
}

#article_box {
  border-bottom: 2px solid rgba(0, 0, 0, 0.229);
  padding: 1ch 3ch;
}

#article_box:last-child {
  border: none;
}

#article_box a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

#date{
  font-size: 14px;
  color: rgb(100, 100, 100);
}

#summary {
  
}

